body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    margin-left: 100px;
    background-color: #f0f4f8;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: calc(25% - 40px); /* 3 รายการใน 1 แถว */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
    text-align: center;
}